img {
	width: 30%;
	margin: 0 0px;
}

/*a {
	text-align: center;
}
*/
nav ul li
{
 margin:0 47px; 
}

/*#connexion {
	margin-left: 80%;
	margin-top: -10%;
}*/

label {
	color: white;
}




#inscription {
	text-align: center;}

h5 {
	color: black;
	margin-bottom: 5%;
}

.boutoncarousel {
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.boutoncarousel:hover {
	background-color:#407D1E;
}

#connexion {
	margin-bottom: -6%;
}

.image {
	width: 5%;
}

.Imgentete {
	width: 7%;
	margin-left: -30%;
}

.carous {
	width: 100%;
}

@font-face {
	font-family: TradeSmithRegular;
	src:url(TradeSmith/TradeSmithRegular.otf);
}

p {
	/*font-family: TradeSmithRegular;*/
}

.btn {

	color: white;
	
}

li:hover {
	/*background-color:#407D1E*/ ;
}


.container {
	text-align: center;

}

#ii {
	background-image: url("imgsudrail/manif2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}




.card {
	margin-top: 10%;
	margin-bottom: 10%;
}


.xd {
	width: 3%
}

.fb {
	width: 3%;
}

